.container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
